.services{
    position: relative;

    &__content{
        padding: 1rem;
        margin-top: 0rem;

        @include media-breakpoint-up(lg){
            margin-top: 5rem;    
        }
        
    }

    &__pic{
        max-width: 100%;
    }
}