@import '../custom';
@import '../components/mixins';

.testimonials{
    position: relative;
    padding: 0;
    @include gradient;

    &__card{
        background-color: rgba($white, 0.8);
        padding: 2rem 1.25rem;
        border-radius: 0.625rem;
        height: auto;
        text-align: center;
    }

    &__name{
        padding-top: 3rem;
        margin-top: 1rem;
        text-align: center;
        font-weight: 500;
        color: $white;
        
        h3{
            padding-top: 0.8rem;
            text-transform: capitalize;
        }

        p{
            padding-bottom: 2rem;
            text-transform: capitalize;
        }
    }
}