.display-2{
    margin-bottom: 2rem;
    text-transform: capitalize;

    &--intro{
        display: inline-block;
        font-weight: 700;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    &--description{
        display: block;
        font-size: 1rem;
        color: white;
        margin-top: 1.2rem;
        font-family: 'Poppins', sans-serif;

        @include media-breakpoint-up(lg){
            font-size: 1.5rem;
            display: inline-block;
        }

    }
}

.heading-line::before{
    content:"";
    width: 10rem;
    height: 0.1rem;
    display: block;
    background-color: #6f42c1;
    margin: 0 auto;
}
.heading-line::after{
    content:"";
    width: 2rem;
    height: 0.2rem;
    display: block;
    background-color: #6f42c1;
    padding-top: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}


.display-3{
    font-family: 'Poppins', sans-serif;

    &--title{
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        background-image: linear-gradient(to right, #6f42c1, #d63384);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg){
            margin-top: 1.8rem;    
        }
    }
}

.border-right{
    border-right: 0.1rem solid grey;
    height: 100%;
}

.gradient{
    background: linear-gradient(to right, rgba($primary,0.95), rgba($secondary, 0.95));
}